* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* Header */

body {
    font-family: "Be Vietnam Pro", sans-serif;
}

.header {
    height: 80px;
}

.travel {
    height: 140px;
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
    cursor: pointer;
    background-color: #faedcd;
}

.navigation-links {
    display: flex;
    gap: 50px;
    align-items: center;
}

.navigation-links a {
    font-size: 20px;
}

/* Home Page */

.home-section-container {
    max-width: 1440px;
    padding: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 80px;
    background-color: #fefae0;
}

.home-section-heading {
    margin-bottom: 40px;
    color: #311f09;
    font-size: 80px;
    font-weight: 600;
    line-height: 88px;
}

.home-section-left {
    width: 50%;
}

.home-section-right {
    width: 50%;
}

.home-section_img {
    height: auto;
    width: 100%;
}
/* Home Video */

.home-section-video {
    max-width: 1440px;
    padding: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 40px;
    background-color: #d8e2dc;
}

.home-section-video-left h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 88px;
    margin-bottom: 40px;
}

.home-section-video p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

/* Top Destinations */

.top-destinations-container {
    max-width: 1440px;
    padding: 80px;
    margin: 0 auto;
    margin-bottom: 40px;
    border: 1px solid blue;
}

.top-destinations-container h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 88px;
    margin-bottom: 40px;
    color: #6a4c93;
}
.top-destinations-container-left {
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
}

.top-destinations-container-right {
    text-align: center;
    padding: 20px;
}

.top-destinations-container ol {
    display: flex;
    gap: 40px;
    align-items: center;

    list-style: none;
}

.top-destinations-container h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #132a13;
}

.top-destinations-container p {
    margin-bottom: 15px;
}

.top-destinations-container img {
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
}

/* Destination */

#destination-page {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 40px;
}

.destination-table thead {
    background-color: #52b69a;
}

.destination-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #d9ed92;
    font-size: 20px;
    margin-bottom: 60px;
}

.destination-table th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 15px;
}

#destination-page h2 {
    text-align: center;
    font-size: 40px;
    color: #8d0801;
    margin-bottom: 40px;
}

#destination-page h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: #3a0ca3;
}

.additional-info {
    margin-bottom: 40px;
    border: 1px solid;
    padding: 15px;
}

.additional-info dt {
    font-weight: bold;
    color: #e63946;
    font-size: 24px;
    margin-left: 20px;
}
.additional-info dt,
dd {
    margin-bottom: 10px;
}

.youtube-googlemap {
    margin-bottom: 40px;
}

/* Contact */

#contact {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    background-color: #e9ecef;
    margin-bottom: 40px;
}
.contact-us-container {
    margin-bottom: 80px;
}

#contact h2 {
    font-size: 40px;
    margin-bottom: 60px;
    color: #f21b3f;
    text-align: center;
    margin-top: 40px;
}

.contact-table {
    border-collapse: collapse;
    width: 100%;
}

.contact-table th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    background-color: #ade8f4;
}

.contact-info th {
    background-color: #0077b6;
}

/* Inquiry Form */

.inquiry-form {
    margin: 0 auto;

    border-radius: 5px;
    margin-bottom: 60px;
    width: 40%;
    margin-left: 40px;
    padding: 40px;
}

.inquiry-form-page {
    display: flex;
}

.inquiry-form h3 {
    font-size: 35px;
    color: #0d2c54;
    margin-bottom: 20px;
}

.inquiry-form div {
    margin-bottom: 10px;
}

.inquiry-form-header {
    margin-bottom: 20px;
}

.inquiry-form div {
    margin-bottom: 20px;
}

.inquiry-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inquiry-form input,
.inquiry-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #352929;
    border-radius: 5px;
}

/* Preferred Destination */

.preferred-destination {
    margin: 0 auto;

    margin-bottom: 60px;
    width: 50%;
    margin-left: 40px;
    padding: 40px;
}

.preferred-destination label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    align-items: center;
}

.preferred-destination select {
    margin-bottom: 20px;
}

.preferred-destination legend {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

.preferred-destination h3 {
    font-size: 35px;
    color: #0d2c54;
    margin-bottom: 40px;
}

.preferred-destination fieldset {
    margin-bottom: 50px;
}

/* Comments */

.comments {
    align-items: center;
    margin-left: 40px;
    margin-bottom: 40px;
}

.comments h3 {
    font-size: 25px;
    margin-bottom: 25px;
}

button {
    background-color: #ee2f2f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
    margin-bottom: 40px;
}

/* FAQ */

.faq-container {
    max-width: 1440px;
    padding: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.faq-container h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.faq-container dt {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #3a0ca3;
}

.contact-footer-container {
    max-width: 1440px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    background-color: #fefae0;
}

.contact-footer-container h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-iframe {
    margin-right: 40px;
    width: 50%;
}

.footer-contact {
    width: 50%;
    align-items: center;
    margin-left: 40px;
}

.contact-footer-container h3,
p {
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

.contact-footer-container p {
    font-size: 20px;
}
