* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    height: 80px;
}

.travel {
    height: 140px;
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
    cursor: pointer;
    background-color: #faedcd;
}

.navigation-links {
    display: flex;
    gap: 50px;
    align-items: center;
}

.navigation-links a {
    font-size: 20px;
}

/* Home Page */

.home-section-container {
    max-width: 1440px;
    padding: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 80px;
    background-color: #fefae0;
}

.home-section-heading {
    margin-bottom: 40px;
    color: #311f09;
    font-size: 80px;
    font-weight: 600;
    line-height: 88px;
}

.home-section-left {
    width: 50%;
}

.home-section-right {
    width: 50%;
}

.home-section_img {
    height: auto;
    width: 100%;
}

.home-section-video h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 88px;
}

.home-section-video p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

.home-section-video {
    max-width: 1440px;
    padding: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 40px;
    background-color: #caf0f8;
}
